* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #cacaca;
  padding: 10px;
  margin: 50px;
}

.item {
  background-color: red;
  color: white;
  font-size: 35px;
  padding: 20px;
  margin: 10px;
}