* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
}

.container-main {
  display: flex;
  flex-wrap: wrap;
}

img {
  display: flex;
  padding: 7px;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.flex-item:nth-child(1) {
  display: flex;
  flex-shrink: 0;
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.first-box {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.first-box-item {
  width: 100%;
}

.flex-item:nth-child(3) {
  display: flex;
  width: 30%;
  height: auto;
}

.flex-item:nth-child(4) {
  display: flex;
  width: 45%;
}

.flex-item:nth-child(5) {
  display: flex;
  width: 55%;
}

.flex-item:nth-child(6) {
  display: flex;
  width: 100vw;
  height: 300px;
}

.flex-item:nth-child(7) {
  display: flex;
  width: 60%;
}

.flex-item:nth-child(8) {
  display: flex;
  width: 35%;
}

.second-box {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.second-box .flex-item:nth-child(1) {
  width: 60%;
  height: auto;
}

.second-box .flex-item:nth-child(2) {
  width: 60%;
  height: auto;
}

.second-box .flex-item:nth-child(3) {
  width: 100%;
  height: auto;
}

.flex-item:nth-child(8) {
  display: flex;
  width: 35%;
}

.flex-item:nth-child(10) {
  display: flex;
  width: 65%;
}

.flex-item:nth-child(11) {
  display: flex;
  width: 65%;
  height: auto;
}

.flex-item:last-child {
  display: flex;
  width: 35%;
}
